{# plantilla de vistas  #}
{% extends "plantillaView.twig" %}

{% block stylesheets %}

{% endblock %}

{% block tittle %} 
 Index - Rio Aro App
{% endblock %}
{% block mainbody %}
         <section>
                <div class=" container row">
                <div class="col-md-12">
                        <h1>hola section 1 click en el boton para ir a loginview</h1>
                        <a class="btn" href="./login">login</a>
                </div>
         <section>
         <section>
                <div class=" container row">
                <div class="col-md-12">
                        <h1>hola section 2 click en el boton para ir a loginview</h1>
                        <a class="btn" href="./login">login</a>
                </div>
         <section>
         <section>
                <div class=" container row">
                <div class="col-md-12">
                        <h1>hola section 3 click en el boton para ir a loginview</h1>
                        <a class="btn" href="./login">login</a>
                </div>
         <section>   
{% endblock %}
