
{# plantilla de vistas  #}
{% extends "plantillaView.twig" %}

{% block stylesheets %}

{% endblock %}

{% block tittle %} 
 Index - Rio Aro App
{% endblock %}
{% block section1 %}
        <h2>hola soy sectioo1</h2>
{% endblock %}

{% block javascript %}{% endblock %}