{# plantilla de vistas  #}
{% extends "plantillaView.twig" %}

{% block stylesheets %}

{% endblock %}

{% block tittle %} 
 Index - Rio Aro App
{% endblock %}
{% block content %}
         <div class=" container row">
            <div class="col-md-6">
                <h1>hola click en el boton para ir a loginview</h1>
                <a class="btn" href="./login">login</a>
            </div>
            
{% endblock %}
