{# plantilla de vistas  #}
{% extends "plantillaView.twig" %}

{% block tittle %} 
 Login - Rio Aro App
{% endblock %}
{% block stylesheets %}
        <style>
            html{
                min-height: 100%;
                position: relative;
            }
            body{
                margin-bottom: 2.5%;

            }
            #contenido{
                margin-top: 5%;
                margin-bottom: 9.5%;
                align-content: center;
                
                align-items: center;
                
               
            }
            #cuadrologin{
                padding: 5%;
            }
            #imagen{
                height: 90vh;
                width: 1263px;
                object-fit: cover;
                filter: greyscale(70%);
            }
            footer{
                bottom: 0;
                width: 100%;
                margin-bottom: 0;
                position: fixed;
                height: 10%
                
            }


        </style>
{% endblock %}
{% block content %}
    <img id="imagen"src="assets/img/loginbackground copia.jpg" class="img-fluid">
    <div class="row mx-auto card-img-overlay" id="contenido">
        <div class="< col-md-4 container border bg-light" id="cuadrologin">
           
            <form action="./login">
            <h3 class="text-center">LOGIN</h3>
            <div class="form-group ">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="nombre" id="" placeholder="username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" class="form-control" name="password" id="" placeholder="Password">
            </div>
            <div class="align-items-center">
            <button class="btn btn-secondary" role="button" type="submit">iniciar sesion</button>
            </div>
            
            </form>
        </div>
    </div>
    
{% endblock %}
